<h1>Cart Items</h1>
<br>
<br>
<% @total_price = 0 %>

<% Cart.all.each do |cart| %>

<% @cart = cart.quantity %>

<% end %>

<% cart = Cart.where(user_id: current_user.id) %>
<% product = cart.each do |prod| %>
 <% total_prod =  prod.nature_id %>

<% final = Nature.where(id: total_prod) %>
<% final.each do |fin| %>

<div class="crt_pay">
<%= image_tag(fin.image,class: "dec_img") %> 
<div class="prd-det">
<p class="name_p">Name : <%= fin.name %></p>
<p class="cat_p">Category : <%= fin.category %></p>
<p class="desc_p">Description : <%= fin.description%></p>

 <p class="quant"> Quantity : <%= @quantity =  prod.quantity %>
 <p class="price_p">Price : <% @price = fin.price %>
 <%= @quantity_price = @quantity * @price %>
 <% @total_price = @total_price + @quantity_price %> </p> 
 
</div>

<%= link_to 'delete', del_path(id: prod.id), method: :delete %>
</div><hr>

<% end %>

<% end %>

 

        <h4 id="tot_prc"> Total_price : <%= @total_price %></h4>

        <%# <div class="plc-order">
        <%= link_to 'Place Order', natures_details_path %>
        <%# </div> %>