

 <%# <%= render "layouts/navbar" %> 
 
<%# < id="notice"><%= notice %>


<div class="details">

  <%= image_tag @nature.image ,class:"show-img"  %>
<br>
<br>


  <strong>Name :</strong>
  <%= @nature.name %>

<br>
<br>
  <strong>Description :</strong>
  <%= @nature.description %>

<br>
<br>
  <strong>Category :</strong>
  <%= @nature.category %>

<br>
<br>
  <strong>Price :</strong>
  <%= @nature.price %>

<br>

<form action="/cart" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input type="hidden" name="cart[nature_id]" value="<%= @nature.id %>">
    <input type="hidden" name="cart[user_id]" value="<%= current_user.id %>">
   <input type="submit" value="Add to Cart" class="cart-btn">
</form>

<form action="/details" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
   <input type="submit" value="Buy Now" class="buy-btn">
</form>

</div>


<%# <%=  link_to 'Edit', edit_nature_path(@nature) %>
 <%= link_to 'Back', natures_path %> 


