<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="title"><br>
    <strong><p class="write">Title</p></strong>
    <%= form.text_field :title, class:"txt_fld" %>
  </div>

 <div class="head-img">
  <strong><p class="tit-hdimg">Header Image</p></strong>
   <%= form.file_field :header_image, class:"hd-img" %>
 </div>

  <div class="ur-blog">
   <strong><p class="con-blog">Content</p></strong>
    <%= form.text_area :body, class:"txt-write"  %>
  </div>

  <div class="ur-file">
   <strong><p class="num-img">Attachments</p></strong>
   <%= form.file_field :files, multiple: false, class:"more-img" %>
 </div>

  <div>
    <%= form.submit :Create , class:"sub-btn" %>
   </div> 
<% end %>

