<div class="container-a">
    <div class="navbar">
         <%= image_tag('logo.png', alt:"logo", id:"logo")%>
        <div class="sub-navbar">
            <ul class="items-nav">
                <li><%= link_to "Home", plants_home_path %></li>
                <li><%= link_to "Blog", plants_blog_path %></li>

                <li><%= link_to "shop",natures_path  %></li>
            
                  <li><%= link_to "About", plants_about_path %></li>
                <li> <a href="/reviews">Feedback</a></li>
            </ul>
        </div>
        <div class="icon-nav">
            <ul class="icon-holder">
                <li><a href="/cart"><em class='bx bx-cart'></em></a></li>
                <% if user_signed_in? %>
                           <li> <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"logout-btn" %></li>
<% else %>
           <li><%= button_to "Signup",new_user_registration_path, class:"signup-btn"%></li>
           <li><%= button_to "Login",new_user_session_path , class:"login-btn"%></li>
<% end %>
            </ul>
        </div>
    </div>
</div>

